body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.bck-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.6) 100%), url("../img/background.jpg");
    background-color: rgb(34, 34, 34);
    background-size: cover;
    background-position: center;
    max-width: 160rem;
    height: 50rem;
    margin: 0 auto;
}

.container {
    width: 80%;
    max-width: 90rem;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.875rem;
}

.nav>a {
    margin-right: 2.5rem;
    color: #ffffff;
    transition: all 150ms ease-in-out;
}

.nav>a:last-child {
    margin-right: 0;
}

.nav>a:hover {
    color: rgb(179, 179, 179);
}

.logo {
    color: #ffffff;
    transition: all 150ms ease-in-out;
}

.logo:hover {
    color: rgb(179, 179, 179);
    transition: all 150ms ease-in-out;
}

.header-background {
    backdrop-filter: blur(.375rem);
    height: 5rem;
}

@media screen and (max-width:767px) {

    .header,
    .header-background {
        display: none;
    }
}

/* mobile menu */
.mob-open,
.mob-close {
    width: 1.875rem;
    height: 1.875rem;
}

.mob-open {
    position: fixed;
    right: 1.875rem;
    top: .9375rem;
}

.mob-list {
    height: 100%;
    width: 35%;
    position: fixed;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.8125rem;

    background-color: #2d2d2d;
}

.mob-list__item {
    color: #ffffff;
}

.mob-list__item:first-child {
    margin-bottom: 2.5rem;
}

.mob-close {
    position: fixed;
    right: 1.875rem;
    top: .9375rem;
    z-index: 5;
}